<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li class="{{ link.type }}"><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}><span>{{ link.title }}</span></a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if page.logo != true %}
<header class="masthead">

		<div class="wrap">

		</div>
</header><!-- /.masthead -->
{% else %}
<header class="masthead">
	<div class="wrap">
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/logo.svg" width="300" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
			<div class="masthead__tagline">Meetups | Discussion | Networking</div>
	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
